:root {
  --black: #171321;
  --darkblue: #005582;
  --darkorange: #aa5656;
  --warmorange: #d58b82;
  --aqua: #97ebdb;
  --white: #daf8e3;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font: var(--font-size);
}

section{
  background-color: var(--darkblue);
}
